* * * * * /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 5; /usr/bin/php  /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 10; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 15; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 20; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 25; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 30; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 35; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 40; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 45; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 50; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null
* * * * * SLEEP 55; /usr/bin/php /usr/share/apache2/htdocs/cron.php >/dev/null